{% extends 'top_product/base.html' %}
{% block content %}
<div class='row'>
    <div class ='col-sm-8'>
        <h4 class='text-center alert alert-info'>Show Top Products</h4>
        {% if products %}
    
          <table class="table table-hover">
            <thead>
                <tr>
                  
                  <th scope="col">Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Rating</th>
                  <th scope="col">User_Rated</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                  {%for item in products %}
                <tr>
                   
                  <td scope="row">{{item.name}}</td>
                  <td><img src="{{item.image}}" style="width:100px;height:100px;object-fit: scale-down;"></td>
                  <td>{{item.rating}}</td> 
                  <td>{{item.user_rated}}</td> 
                  <td>{{item.price}}</td> 
                </tr> 
                   {% endfor %}
              </tbody>
          </table>     
        {% else %}
        <h4>No data</h4>
        {% endif %}       
    </div>

  <div class ='col-sm-4 mt-2'>
    <form action="{% url 'search' %}" method="get">
    <div class="input-group">
      <input name="search"  type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
  </form>
  <div>
    {% if query %}
<h3 class=mt-2>Search for "{{query }}"</h3> 
<h4>{% with results.count as total_results %}
    Found {{total_results}} result{{total_results|pluralize}}
    {%endwith%}</h4>
{%for x in results %}
<a href="{% url 'detail' x.id %}" style=text-decoration:none;>{{x.name}} </a>
<hr>
{%endfor%}
{% else %}
<h4></h4>
{% endif %}
  </div>
  </div>
</div>    




{% endblock content %}